@import '../abstracts/variables';
@import '../abstracts/mixins';

.table-generator {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(phone) {
        align-items: unset;
    }

    &__table {
        padding-bottom: 10rem;

        caption {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        td {
            position: relative;

            label {
                font-size: 1.2rem;
                color: $color-grey-dark;
                position: absolute;
                top: 0;
                right: 3px;
            }

            input {
                width: 8rem;
                border-radius: 5px;
                padding: 1rem;
                border: 1px solid $color-grey-light;
            }
        }
    }
}
