@import '../abstracts/variables';
@import '../abstracts/mixins';

.table-grid {
    height: 40rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 6rem 15%;
    border-top: 1px solid $color-grey-light;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    transition: bottom .3s;
    overflow-x: auto;

    @include respond(phone) {
        padding: 1rem;
    }

    &__collapsed {
        bottom: -35rem;
    }

    &__tool {
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        background: white;
        border: 1px solid $color-grey-light;
        border-radius: 4px;

        p {
            padding: 10px;
        }
        &:hover {
            cursor: pointer;
        }
    }

    &__input {
        width: 8rem;
        border-radius: 5px;
        margin: 1rem;
        padding: 1rem;
        border: 1px solid $color-grey-light;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include respond(tab-port) {
            align-items: center;
            padding-top: 5rem;
        }
    }

    &__grid {
        margin-top: 1rem;
        min-width: 50rem;
        max-width: 100%;
        border: 2px solid $color-grey-dark;
        border-radius: 5px;
        padding: 1rem;
        overflow: auto;

        @include respond(phone) {
            min-width: unset;
        }

        &-row {
            width: 100%;
            display: flex;
        }

        &-col {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            width: 3rem;
            border: 1px solid $color-grey-dark;
            border-radius: 3px;
            margin: 3px;
            font-size: 1.2rem;

            &:hover {
                cursor: pointer;
            }
            &--hover {
                background-color: $color-grey-light;
            }
        }
    }
}
