.table-tool {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__manager {
        margin: 1rem 0;
        display: flex;
        align-items: center;

        p {
            padding: .5rem;
            font-size: 2rem;
            font-weight: 700;
        }
    }
    &__plus, &__minus {
        width: 20px;
        height: 20px;
        background-size: contain;
        margin: 1px;

        &:hover {
            cursor: pointer;
        }
    }
    &__plus {
        background-image: url("../../../assets/plus.png");
    }
    &__minus {
        background-image: url("../../../assets/minus.png");
    }
}
