@import '../abstracts/variables';
@import '../abstracts/mixins';

.topbar {
    height: 6rem;
    width: 100%;
    display: flex;
    background-color: white;
    border-bottom: 1px solid $color-grey-light;
    align-items: center;
    justify-content: space-around;

    @include respond(phone) {
        text-align: center;
    }
}
